@media screen {
.s24-country-icon-ad{ background-position: 0 0 !important ; }
.s24-country-icon-ae{ background-position: 0 -75px !important ; }
.s24-country-icon-af{ background-position: 0 -150px !important ; }
.s24-country-icon-ag{ background-position: 0 -225px !important ; }
.s24-country-icon-ai{ background-position: 0 -300px !important ; }
.s24-country-icon-al{ background-position: 0 -375px !important ; }
.s24-country-icon-am{ background-position: 0 -450px !important ; }
.s24-country-icon-an{ background-position: 0 -525px !important ; }
.s24-country-icon-ao{ background-position: 0 -600px !important ; }
.s24-country-icon-aq{ background-position: 0 -675px !important ; }
.s24-country-icon-ar{ background-position: 0 -750px !important ; }
.s24-country-icon-as{ background-position: 0 -825px !important ; }
.s24-country-icon-at{ background-position: 0 -900px !important ; }
.s24-country-icon-au{ background-position: 0 -975px !important ; }
.s24-country-icon-aw{ background-position: 0 -1050px !important ; }
.s24-country-icon-az{ background-position: 0 -1125px !important ; }
.s24-country-icon-ba{ background-position: 0 -1200px !important ; }
.s24-country-icon-bb{ background-position: 0 -1275px !important ; }
.s24-country-icon-bd{ background-position: 0 -1350px !important ; }
.s24-country-icon-be{ background-position: 0 -1425px !important ; }
.s24-country-icon-bf{ background-position: 0 -1500px !important ; }
.s24-country-icon-bg{ background-position: 0 -1575px !important ; }
.s24-country-icon-bh{ background-position: 0 -1650px !important ; }
.s24-country-icon-bi{ background-position: 0 -1725px !important ; }
.s24-country-icon-bj{ background-position: 0 -1800px !important ; }
.s24-country-icon-bm{ background-position: 0 -1875px !important ; }
.s24-country-icon-bn{ background-position: -75px 0 !important ; }
.s24-country-icon-bo{ background-position: -75px -75px !important ; }
.s24-country-icon-br{ background-position: -75px -150px !important ; }
.s24-country-icon-bs{ background-position: -75px -225px !important ; }
.s24-country-icon-bt{ background-position: -75px -300px !important ; }
.s24-country-icon-bv{ background-position: -75px -375px !important ; }
.s24-country-icon-bw{ background-position: -75px -450px !important ; }
.s24-country-icon-by{ background-position: -75px -525px !important ; }
.s24-country-icon-bz{ background-position: -75px -600px !important ; }
.s24-country-icon-ca{ background-position: -75px -675px !important ; }
.s24-country-icon-cc{ background-position: -75px -750px !important ; }
.s24-country-icon-cd{ background-position: -75px -825px !important ; }
.s24-country-icon-cf{ background-position: -75px -900px !important ; }
.s24-country-icon-cg{ background-position: -75px -975px !important ; }
.s24-country-icon-ch{ background-position: -75px -1050px !important ; }
.s24-country-icon-ci{ background-position: -75px -1125px !important ; }
.s24-country-icon-ck{ background-position: -75px -1200px !important ; }
.s24-country-icon-cl{ background-position: -75px -1275px !important ; }
.s24-country-icon-cm{ background-position: -75px -1350px !important ; }
.s24-country-icon-cn{ background-position: -75px -1425px !important ; }
.s24-country-icon-co{ background-position: -75px -1500px !important ; }
.s24-country-icon-cr{ background-position: -75px -1575px !important ; }
.s24-country-icon-cu{ background-position: -75px -1650px !important ; }
.s24-country-icon-cv{ background-position: -75px -1725px !important ; }
.s24-country-icon-cx{ background-position: -75px -1800px !important ; }
.s24-country-icon-cy{ background-position: -75px -1875px !important ; }
.s24-country-icon-cz{ background-position: -150px 0 !important ; }
.s24-country-icon-de{ background-position: -150px -75px}
.s24-country-icon-dj{ background-position: -150px -150px !important ; }
.s24-country-icon-dk{ background-position: -150px -225px !important ; }
.s24-country-icon-dm{ background-position: -150px -300px !important ; }
.s24-country-icon-do{ background-position: -150px -375px !important ; }
.s24-country-icon-dz{ background-position: -150px -450px !important ; }
.s24-country-icon-ec{ background-position: -150px -525px !important ; }
.s24-country-icon-ee{ background-position: -150px -600px !important ; }
.s24-country-icon-eg{ background-position: -150px -675px !important ; }
.s24-country-icon-eh{ background-position: -150px -750px !important ; }
.s24-country-icon-en{ background-position: -150px -825px !important ; }
.s24-country-icon-er{ background-position: -150px -900px !important ; }
.s24-country-icon-es{ background-position: -150px -975px !important ; }
.s24-country-icon-et{ background-position: -150px -1050px !important ; }
.s24-country-icon-fi{ background-position: -150px -1125px !important ; }
.s24-country-icon-fj{ background-position: -150px -1200px !important ; }
.s24-country-icon-fk{ background-position: -150px -1275px !important ; }
.s24-country-icon-fm{ background-position: -150px -1350px !important ; }
.s24-country-icon-fo{ background-position: -150px -1425px !important ; }
.s24-country-icon-fr{ background-position: -150px -1500px !important ; }
.s24-country-icon-ga{ background-position: -150px -1575px !important ; }
.s24-country-icon-gd{ background-position: -150px -1650px !important ; }
.s24-country-icon-ge{ background-position: -150px -1725px !important ; }
.s24-country-icon-gf{ background-position: -150px -1800px !important ; }
.s24-country-icon-gh{ background-position: -150px -1875px !important ; }
.s24-country-icon-gi{ background-position: -225px 0 !important ; }
.s24-country-icon-gl{ background-position: -225px -75px !important ; }
.s24-country-icon-gm{ background-position: -225px -150px !important ; }
.s24-country-icon-gn{ background-position: -225px -225px !important ; }
.s24-country-icon-gp{ background-position: -225px -300px !important ; }
.s24-country-icon-gq{ background-position: -225px -375px !important ; }
.s24-country-icon-gr{ background-position: -225px -450px !important ; }
.s24-country-icon-gs{ background-position: -225px -525px !important ; }
.s24-country-icon-gt{ background-position: -225px -600px !important ; }
.s24-country-icon-gu{ background-position: -225px -675px !important ; }
.s24-country-icon-gw{ background-position: -225px -750px !important ; }
.s24-country-icon-gy{ background-position: -225px -825px !important ; }
.s24-country-icon-hk{ background-position: -225px -900px !important ; }
.s24-country-icon-hm{ background-position: -225px -975px !important ; }
.s24-country-icon-hn{ background-position: -225px -1050px !important ; }
.s24-country-icon-hr{ background-position: -225px -1125px !important ; }
.s24-country-icon-ht{ background-position: -225px -1200px !important ; }
.s24-country-icon-hu{ background-position: -225px -1275px !important ; }
.s24-country-icon-id{ background-position: -225px -1350px !important ; }
.s24-country-icon-ie{ background-position: -225px -1425px !important ; }
.s24-country-icon-il{ background-position: -225px -1500px !important ; }
.s24-country-icon-in{ background-position: -225px -1575px !important ; }
.s24-country-icon-io{ background-position: -225px -1650px !important ; }
.s24-country-icon-iq{ background-position: -225px -1725px !important ; }
.s24-country-icon-ir{ background-position: -225px -1800px !important ; }
.s24-country-icon-is{ background-position: -225px -1875px !important ; }
.s24-country-icon-it{ background-position: -300px 0 !important ; }
.s24-country-icon-jm{ background-position: -300px -75px !important ; }
.s24-country-icon-jo{ background-position: -300px -150px !important ; }
.s24-country-icon-jp{ background-position: -300px -225px !important ; }
.s24-country-icon-ke{ background-position: -300px -300px !important ; }
.s24-country-icon-kg{ background-position: -300px -375px !important ; }
.s24-country-icon-kh{ background-position: -300px -450px !important ; }
.s24-country-icon-ki{ background-position: -300px -525px !important ; }
.s24-country-icon-km{ background-position: -300px -600px !important ; }
.s24-country-icon-kn{ background-position: -300px -675px !important ; }
.s24-country-icon-kp{ background-position: -300px -750px !important ; }
.s24-country-icon-kr{ background-position: -300px -825px !important ; }
.s24-country-icon-kw{ background-position: -300px -900px !important ; }
.s24-country-icon-ky{ background-position: -300px -975px !important ; }
.s24-country-icon-kz{ background-position: -300px -1050px !important ; }
.s24-country-icon-la{ background-position: -300px -1125px !important ; }
.s24-country-icon-lb{ background-position: -300px -1200px !important ; }
.s24-country-icon-lc{ background-position: -300px -1275px !important ; }
.s24-country-icon-li{ background-position: -300px -1350px !important ; }
.s24-country-icon-lk{ background-position: -300px -1425px !important ; }
.s24-country-icon-lr{ background-position: -300px -1500px !important ; }
.s24-country-icon-ls{ background-position: -300px -1575px !important ; }
.s24-country-icon-lt{ background-position: -300px -1650px !important ; }
.s24-country-icon-lu{ background-position: -300px -1725px !important ; }
.s24-country-icon-lv{ background-position: -300px -1800px !important ; }
.s24-country-icon-ly{ background-position: -300px -1875px !important ; }
.s24-country-icon-ma{ background-position: -375px 0 !important ; }
.s24-country-icon-mc{ background-position: -375px -75px !important ; }
.s24-country-icon-md{ background-position: -375px -150px !important ; }
.s24-country-icon-me{ background-position: -375px -225px !important ; }
.s24-country-icon-mg{ background-position: -375px -300px !important ; }
.s24-country-icon-mh{ background-position: -375px -375px !important ; }
.s24-country-icon-mk{ background-position: -375px -450px !important ; }
.s24-country-icon-ml{ background-position: -375px -525px !important ; }
.s24-country-icon-mm{ background-position: -375px -600px !important ; }
.s24-country-icon-mn{ background-position: -375px -675px !important ; }
.s24-country-icon-mo{ background-position: -375px -750px !important ; }
.s24-country-icon-mp{ background-position: -375px -825px !important ; }
.s24-country-icon-mq{ background-position: -375px -900px !important ; }
.s24-country-icon-mr{ background-position: -375px -975px !important ; }
.s24-country-icon-ms{ background-position: -375px -1050px !important ; }
.s24-country-icon-mt{ background-position: -375px -1125px !important ; }
.s24-country-icon-mu{ background-position: -375px -1200px !important ; }
.s24-country-icon-mv{ background-position: -375px -1275px !important ; }
.s24-country-icon-mw{ background-position: -375px -1350px !important ; }
.s24-country-icon-mx{ background-position: -375px -1425px !important ; }
.s24-country-icon-my{ background-position: -375px -1500px !important ; }
.s24-country-icon-mz{ background-position: -375px -1575px !important ; }
.s24-country-icon-na{ background-position: -375px -1650px !important ; }
.s24-country-icon-nc{ background-position: -375px -1725px !important ; }
.s24-country-icon-nd{ background-position: -375px -1800px !important ; }
.s24-country-icon-ne{ background-position: -375px -1875px !important ; }
.s24-country-icon-nf{ background-position: -450px 0 !important ; }
.s24-country-icon-ng{ background-position: -450px -75px !important ; }
.s24-country-icon-ni{ background-position: -450px -150px !important ; }
.s24-country-icon-nl{ background-position: -450px -225px !important ; }
.s24-country-icon-no{ background-position: -450px -300px !important ; }
.s24-country-icon-np{ background-position: -450px -375px !important ; }
.s24-country-icon-nr{ background-position: -450px -450px !important ; }
.s24-country-icon-nu{ background-position: -450px -525px !important ; }
.s24-country-icon-nz{ background-position: -450px -600px !important ; }
.s24-country-icon-om{ background-position: -450px -675px !important ; }
.s24-country-icon-pa{ background-position: -450px -750px !important ; }
.s24-country-icon-pe{ background-position: -450px -825px !important ; }
.s24-country-icon-pf{ background-position: -450px -900px !important ; }
.s24-country-icon-pg{ background-position: -450px -975px !important ; }
.s24-country-icon-ph{ background-position: -450px -1050px !important ; }
.s24-country-icon-pk{ background-position: -450px -1125px !important ; }
.s24-country-icon-pl{ background-position: -450px -1200px !important ; }
.s24-country-icon-pm{ background-position: -450px -1275px !important ; }
.s24-country-icon-pn{ background-position: -450px -1350px !important ; }
.s24-country-icon-pr{ background-position: -450px -1425px !important ; }
.s24-country-icon-ps{ background-position: -450px -1500px !important ; }
.s24-country-icon-pt{ background-position: -450px -1575px !important ; }
.s24-country-icon-pw{ background-position: -450px -1650px !important ; }
.s24-country-icon-py{ background-position: -450px -1725px !important ; }
.s24-country-icon-qa{ background-position: -450px -1800px !important ; }
.s24-country-icon-re{ background-position: -450px -1875px !important ; }
.s24-country-icon-ro{ background-position: -525px 0 !important ; }
.s24-country-icon-rs{ background-position: -525px -75px !important ; }
.s24-country-icon-ru{ background-position: -525px -150px !important ; }
.s24-country-icon-rw{ background-position: -525px -225px !important ; }
.s24-country-icon-sa{ background-position: -525px -300px !important ; }
.s24-country-icon-sb{ background-position: -525px -375px !important ; }
.s24-country-icon-sc{ background-position: -525px -450px !important ; }
.s24-country-icon-sd{ background-position: -525px -525px !important ; }
.s24-country-icon-se{ background-position: -525px -600px !important ; }
.s24-country-icon-sg{ background-position: -525px -675px !important ; }
.s24-country-icon-sh{ background-position: -525px -750px !important ; }
.s24-country-icon-si{ background-position: -525px -825px !important ; }
.s24-country-icon-sj{ background-position: -525px -900px !important ; }
.s24-country-icon-sk{ background-position: -525px -975px !important ; }
.s24-country-icon-sl{ background-position: -525px -1050px !important ; }
.s24-country-icon-sm{ background-position: -525px -1125px !important ; }
.s24-country-icon-sn{ background-position: -525px -1200px !important ; }
.s24-country-icon-so{ background-position: -525px -1275px !important ; }
.s24-country-icon-sr{ background-position: -525px -1350px !important ; }
.s24-country-icon-ss{ background-position: -525px -1425px !important ; }
.s24-country-icon-st{ background-position: -525px -1500px !important ; }
.s24-country-icon-sv{ background-position: -525px -1575px !important ; }
.s24-country-icon-sy{ background-position: -525px -1650px !important ; }
.s24-country-icon-sz{ background-position: -525px -1725px !important ; }
.s24-country-icon-tc{ background-position: -525px -1800px !important ; }
.s24-country-icon-td{ background-position: -525px -1875px !important ; }
.s24-country-icon-tf{ background-position: -600px 0 !important ; }
.s24-country-icon-tg{ background-position: -600px -75px !important ; }
.s24-country-icon-th{ background-position: -600px -150px !important ; }
.s24-country-icon-tj{ background-position: -600px -225px !important ; }
.s24-country-icon-tk{ background-position: -600px -300px !important ; }
.s24-country-icon-tl{ background-position: -600px -375px !important ; }
.s24-country-icon-tm{ background-position: -600px -450px !important ; }
.s24-country-icon-tn{ background-position: -600px -525px !important ; }
.s24-country-icon-to{ background-position: -600px -600px !important ; }
.s24-country-icon-tp{ background-position: -600px -675px !important ; }
.s24-country-icon-tr{ background-position: -600px -750px !important ; }
.s24-country-icon-tt{ background-position: -600px -825px !important ; }
.s24-country-icon-tv{ background-position: -600px -900px !important ; }
.s24-country-icon-tw{ background-position: -600px -975px !important ; }
.s24-country-icon-tz{ background-position: -600px -1050px !important ; }
.s24-country-icon-ua{ background-position: -600px -1125px !important ; }
.s24-country-icon-ug{ background-position: -600px -1200px !important ; }
.s24-country-icon-uk{ background-position: -600px -1275px !important ; }
.s24-country-icon-um{ background-position: -600px -1350px !important ; }
.s24-country-icon-us{ background-position: -600px -1425px !important ; }
.s24-country-icon-uy{ background-position: -600px -1500px !important ; }
.s24-country-icon-uz{ background-position: -600px -1575px !important ; }
.s24-country-icon-va{ background-position: -600px -1650px !important ; }
.s24-country-icon-vc{ background-position: -600px -1725px !important ; }
.s24-country-icon-ve{ background-position: -600px -1800px !important ; }
.s24-country-icon-vg{ background-position: -600px -1875px !important ; }
.s24-country-icon-vi{ background-position: -675px 0 !important ; }
.s24-country-icon-vn{ background-position: -675px -75px !important ; }
.s24-country-icon-vu{ background-position: -675px -150px !important ; }
.s24-country-icon-wa{ background-position: -675px -225px !important ; }
.s24-country-icon-wf{ background-position: -675px -300px !important ; }
.s24-country-icon-ws{ background-position: -675px -375px !important ; }
.s24-country-icon-ye{ background-position: -675px -450px !important ; }
.s24-country-icon-yt{ background-position: -675px -525px !important ; }
.s24-country-icon-yu{ background-position: -675px -600px !important ; }
.s24-country-icon-za{ background-position: -675px -675px !important ; }
.s24-country-icon-zm{ background-position: -675px -750px !important ; }
.s24-country-icon-zw{ background-position: -675px -825px !important ; }
}
/*
@media screen and (max-device-width: 1200px) {
    .s24-country-icon-ad{ background-position: 0 0;  !important ; }
    .s24-country-icon-al{ background-position: 0 -75px;  !important ; }
    .s24-country-icon-am{ background-position: 0 -150px;  !important ; }
    .s24-country-icon-ar{ background-position: 0 -225px;  !important ; }
    .s24-country-icon-at{ background-position: 0 -300px;  !important ; }
    .s24-country-icon-au{ background-position: 0 -375px;  !important ; }
    .s24-country-icon-az{ background-position: 0 -450px;  !important ; }
    .s24-country-icon-ba{ background-position: 0 -525px;  !important ; }
    .s24-country-icon-be{ background-position: 0 -600px;  !important ; }
    .s24-country-icon-bg{ background-position: 0 -675px;  !important ; }
    .s24-country-icon-bm{ background-position: 0 -750px;  !important ; }
    .s24-country-icon-br{ background-position: 0 -825px;  !important ; }
    .s24-country-icon-by{ background-position: 0 -900px;  !important ; }
    .s24-country-icon-ca{ background-position: 0 -975px;  !important ; }
    .s24-country-icon-ch{ background-position: 0 -1050px;  !important ; }
    .s24-country-icon-cl{ background-position: 0 -1125px;  !important ; }
    .s24-country-icon-cn{ background-position: 0 -1200px;  !important ; }
    .s24-country-icon-cy{ background-position: 0 -1275px;  !important ; }
    .s24-country-icon-cz{ background-position: 0 -1350px;  !important ; }
    .s24-country-icon-de{ background-position: 0 -1425px;  !important ; }
    .s24-country-icon-dk{ background-position: 0 -1500px;  !important ; }
    .s24-country-icon-dz{ background-position: 0 -1575px;  !important ; }
    .s24-country-icon-ee{ background-position: 0 -1650px;  !important ; }
    .s24-country-icon-es{ background-position: 0 -1725px;  !important ; }
    .s24-country-icon-fi{ background-position: 0 -1800px;  !important ; }
    .s24-country-icon-fr{ background-position: 0 -1875px;  !important ; }
    .s24-country-icon-ge{ background-position: 0 -1950px;  !important ; }
    .s24-country-icon-gr{ background-position: -75px 0;  !important ; }
    .s24-country-icon-hk{ background-position: -75px -75px;  !important ; }
    .s24-country-icon-hr{ background-position: -75px -150px;  !important ; }
    .s24-country-icon-hu{ background-position: -75px -225px;  !important ; }
    .s24-country-icon-ie{ background-position: -75px -300px;  !important ; }
    .s24-country-icon-il{ background-position: -75px -375px;  !important ; }
    .s24-country-icon-in{ background-position: -75px -450px;  !important ; }
    .s24-country-icon-ir{ background-position: -75px -525px;  !important ; }
    .s24-country-icon-is{ background-position: -75px -600px;  !important ; }
    .s24-country-icon-it{ background-position: -75px -675px;  !important ; }
    .s24-country-icon-jm{ background-position: -75px -750px;  !important ; }
    .s24-country-icon-jp{ background-position: -75px -825px;  !important ; }
    .s24-country-icon-kg{ background-position: -75px -900px;  !important ; }
    .s24-country-icon-kr{ background-position: -75px -975px;  !important ; }
    .s24-country-icon-ky{ background-position: -75px -1050px;  !important ; }
    .s24-country-icon-kz{ background-position: -75px -1125px;  !important ; }
    .s24-country-icon-lb{ background-position: -75px -1200px;  !important ; }
    .s24-country-icon-li{ background-position: -75px -1275px;  !important ; }
    .s24-country-icon-lt{ background-position: -75px -1350px;  !important ; }
    .s24-country-icon-lu{ background-position: -75px -1425px;  !important ; }
    .s24-country-icon-lv{ background-position: -75px -1500px;  !important ; }
    .s24-country-icon-ma{ background-position: -75px -1575px;  !important ; }
    .s24-country-icon-mc{ background-position: -75px -1650px;  !important ; }
    .s24-country-icon-md{ background-position: -75px -1725px;  !important ; }
    .s24-country-icon-me{ background-position: -75px -1800px;  !important ; }
    .s24-country-icon-mk{ background-position: -75px -1875px;  !important ; }
    .s24-country-icon-mn{ background-position: -75px -1950px;  !important ; }
    .s24-country-icon-mt{ background-position: -150px 0;  !important ; }
    .s24-country-icon-mx{ background-position: -150px -75px;  !important ; }
    .s24-country-icon-nl{ background-position: -150px -150px;  !important ; }
    .s24-country-icon-no{ background-position: -150px -225px;  !important ; }
    .s24-country-icon-np{ background-position: -150px -300px;  !important ; }
    .s24-country-icon-nz{ background-position: -150px -375px;  !important ; }
    .s24-country-icon-pe{ background-position: -150px -450px;  !important ; }
    .s24-country-icon-ph{ background-position: -150px -525px;  !important ; }
    .s24-country-icon-pk{ background-position: -150px -600px;  !important ; }
    .s24-country-icon-pl{ background-position: -150px -675px;  !important ; }
    .s24-country-icon-pt{ background-position: -150px -750px;  !important ; }
    .s24-country-icon-py{ background-position: -150px -825px;  !important ; }
    .s24-country-icon-ro{ background-position: -150px -900px;  !important ; }
    .s24-country-icon-rs{ background-position: -150px -975px;  !important ; }
    .s24-country-icon-ru{ background-position: -150px -1050px;  !important ; }
    .s24-country-icon-se{ background-position: -150px -1125px;  !important ; }
    .s24-country-icon-si{ background-position: -150px -1200px;  !important ; }
    .s24-country-icon-sk{ background-position: -150px -1275px;  !important ; }
    .s24-country-icon-sm{ background-position: -150px -1350px;  !important ; }
    .s24-country-icon-tg{ background-position: -150px -1425px;  !important ; }
    .s24-country-icon-th{ background-position: -150px -1500px;  !important ; }
    .s24-country-icon-tj{ background-position: -150px -1575px;  !important ; }
    .s24-country-icon-to{ background-position: -150px -1650px;  !important ; }
    .s24-country-icon-tp{ background-position: -150px -1725px;  !important ; }
    .s24-country-icon-tr{ background-position: -150px -1800px;  !important ; }
    .s24-country-icon-ua{ background-position: -150px -1875px;  !important ; }
    .s24-country-icon-uk{ background-position: -150px -1950px;  !important ; }
    .s24-country-icon-us{ background-position: -225px 0;  !important ; }
    .s24-country-icon-uz{ background-position: -225px -75px;  !important ; }
    .s24-country-icon-vg{ background-position: -225px -150px;  !important ; }
    .s24-country-icon-vi{ background-position: -225px -225px;  !important ; }
    .s24-country-icon-zw{ background-position: -225px -300px;  !important ; }


}*/
