.wm-match-list.match-list--slider{
	margin-bottom: 10px;
}
.owl-nav{
	display: none;
}

.wm-match-list.match-list--slider .anwp-fl-game{
	background-image: url('images/ezgif.com-gif-maker-3.webp');
	background-size: cover;
	padding: 0 !important;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
}
.wm-match-list.match-list--slider .anwp-fl-game:after{
	content: '';
	position : absolute ;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}
.wm-match-list.match-list--slider .anwp-fl-game .anwp-link-cover{
	z-index: 10;
}
.wm-match-list.match-list--slider .anwp-fl-game .anwp-row{

}
.wm-match-list.match-list--slider .anwp-fl-game .match-list-item__kickoff{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position : relative ;
	z-index: 8;
	background-color: rgba(0, 0, 0, .6);
	padding: 10px 15px !important;
}
.wm-match-list.match-list--slider .anwp-fl-game img{
	width: 50px !important;
	height: 50px;
}

.wm-match-list.match-list--slider .anwp-fl-game .match-simple__team{
	color: #fff;
	overflow: initial;
	font-size: 15px;
	font-weight: bold;
	
}
.wm-match-list.match-list--slider .anwp-fl-game .match-simple__date,
.wm-match-list.match-list--slider .anwp-fl-game .match-simple__time{
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	z-index: 9;
}

.wm-match-list.match-list--slider .anwp-fl-game .anwp-row{
	position : relative ;
	z-index: 9;
	padding: 10px 20px !important;
}
.wm-match-list.match-list--slider .anwp-fl-game .match-simple__scores-number{
	color: #fff;
	min-width: 10px;
}
/*-----------------------*\
    COWNDOWN
\*-----------------------*/
.wm-match-list.match-list--slider .anwp-fl-game .anwp-fl-game-countdown{
	position : relative ;
	z-index: 19;
}
.wm-match-list.match-list--slider .anwp-fl-game .anwp-fl-game-countdown .anwp-fl-game-countdown__item {
	height: 50px;
	position: relative;
	width: 50px;
	border: 1px solid #fff;
	display: block;
	line-height: 50px;
	border-radius: 50%;
}
.wm-match-list.match-list--slider .anwp-fl-game .anwp-fl-game-countdown .anwp-fl-game-countdown__label {
	font-size: 10px;
	line-height: 1;
	color: #fff;
	position: absolute;
	top: 8px;
	left: 0;
	right: 0;
	margin: auto;
}
.wm-match-list.match-list--slider .anwp-fl-game .anwp-fl-game-countdown .anwp-fl-game-countdown__separator{
	border: 1px solid #e5e5e5;
	height: 20px;
	margin: 15px 5px;
}
.wm-match-list.match-list--slider .anwp-fl-game .anwp-fl-game-countdown .anwp-fl-game-countdown__value{
	color: #fff;
	font-size: 14px;
	padding: 0;
	line-height: 55px;
}

.wm-match-list.match-list--slider .competition_name{
	color: #fff;
}


/*-----------------------*\
    SLIDER
\*-----------------------*/
.anwp-game-prediction{
	text-align: center;
	justify-content: center;
	display: flex;
	position : relative ;
	z-index: 99;
	flex-direction: column;
	align-items: center;
	top: -10px;
}
.anwp-game-prediction .anim-text-flow{
	margin-bottom: 5px;
}
.anwp-game-prediction .neon{
	color: hsla(0, 0%, 0%, .9);
	font: normal 140px Varela Round, sans-serif;
	height: 140px;
	left: 0;
	letter-spacing: 5px;
	margin: -80px 0 0 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	width: 100%;
	animation: move linear 2000ms infinite;
}
@keyframes move {
	0% {
		text-shadow:
		4px -4px 0 hsla(0, 100%, 50%, 1), 
		3px -3px 0 hsla(0, 100%, 50%, 1), 
		2px -2px 0 hsla(0, 100%, 50%, 1), 
		1px -1px 0 hsla(0, 100%, 50%, 1),
		-4px 4px 0 hsla(180, 100%, 50%, 1), 
		-3px 3px 0 hsla(180, 100%, 50%, 1), 
		-2px 2px 0 hsla(180, 100%, 50%, 1), 
		-1px 1px 0 hsla(180, 100%, 50%, 1)
		;
	}
	25% {    
		text-shadow:      
		-4px -4px 0 hsla(180, 100%, 50%, 1), 
		-3px -3px 0 hsla(180, 100%, 50%, 1), 
		-2px -2px 0 hsla(180, 100%, 50%, 1), 
		-1px -1px 0 hsla(180, 100%, 50%, 1),
		4px 4px 0 hsla(0, 100%, 50%, 1), 
		3px 3px 0 hsla(0, 100%, 50%, 1), 
		2px 2px 0 hsla(0, 100%, 50%, 1), 
		1px 1px 0 hsla(0, 100%, 50%, 1)      
		;
	}
	50% {
		text-shadow:
		-4px 4px 0 hsla(0, 100%, 50%, 1), 
		-3px 3px 0 hsla(0, 100%, 50%, 1), 
		-2px 2px 0 hsla(0, 100%, 50%, 1), 
		-1px 1px 0 hsla(0, 100%, 50%, 1),
		4px -4px 0 hsla(180, 100%, 50%, 1), 
		3px -3px 0 hsla(180, 100%, 50%, 1), 
		2px -2px 0 hsla(180, 100%, 50%, 1), 
		1px -1px 0 hsla(180, 100%, 50%, 1)
		;
	}
	75% {
		text-shadow:
		4px 4px 0 hsla(180, 100%, 50%, 1), 
		3px 3px 0 hsla(180, 100%, 50%, 1), 
		2px 2px 0 hsla(180, 100%, 50%, 1), 
		1px 1px 0 hsla(180, 100%, 50%, 1),
		-4px -4px 0 hsla(0, 100%, 50%, 1), 
		-3px -3px 0 hsla(0, 100%, 50%, 1), 
		-2px -2px 0 hsla(0, 100%, 50%, 1), 
		-1px -1px 0 hsla(0, 100%, 50%, 1)      
		;
	}
	100% {
		text-shadow:
		4px -4px 0 hsla(0, 100%, 50%, 1), 
		3px -3px 0 hsla(0, 100%, 50%, 1), 
		2px -2px 0 hsla(0, 100%, 50%, 1), 
		1px -1px 0 hsla(0, 100%, 50%, 1),
		-4px 4px 0 hsla(180, 100%, 50%, 1), 
		-3px 3px 0 hsla(180, 100%, 50%, 1), 
		-2px 2px 0 hsla(180, 100%, 50%, 1), 
		-1px 1px 0 hsla(180, 100%, 50%, 1)
		;
	}  
}
.math-forecast__rate {
	padding: 0 12px;
}
.math-forecast__rate-item {
	padding: 4px 6px;
	width: 54px;
	margin-right: 4px;
}
.math-forecast__prediction-item, .math-forecast__rate-item {
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}
.math-forecast__rate-item--middle {
	background-color: rgba(78, 129, 59,.78);
}
.math-forecast__rate-item--lowest {
	background-color: rgba(78, 129, 59,.94);
}
.math-forecast__rate-item--highest {
	background-color: rgba(78, 129, 59,.92);
}
.math-forecast__rate-index {
	color: hsla(0,0%,8%,.32);
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}
.math-forecast__rate-value {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #141414;
}

.wm-competition a.wm-hightline{
	position: relative;
	/*top: 0;
	left: 50%;*/
}
.wm-competition a.wm-hightline span{
	letter-spacing: 0;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
	/* Clip Background Image */
	background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
	/* Animate Background Image */
	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;
	/* Activate hardware acceleration for smoother animations */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	font-family: Oswald;
	font-size: 20px;
	text-transform: uppercase;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

/*.wm-competition a.wm-hightline:before{
	content: " ";
	display: block;
	height: 90%;
	width: 100%;
	margin-left: -3px;
	margin-right: -3px;
	position: absolute;
	background: #ffd500;
	transform: rotate(2deg);
	top: -1px;
	left: -1px;
	border-radius: 20% 25% 20% 24%;
	padding: 10px 3px 3px 10px;
}
.wm-competition a.wm-hightline span{
	position : relative ;
	animation: blinker 3s step-start infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}*/


.anim-text-flow span,
.anim-text-flow-hover:hover span {
	-webkit-animation-name: anim-text-flow-keys;
	animation-name: anim-text-flow-keys;
	-webkit-animation-duration: 50s;
	animation-duration: 50s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes anim-text-flow-keys {
	0% {
		color: #5cd69d;
	}
	5% {
		color: #d6ce5c;
	}
	10% {
		color: #d4d65c;
	}
	15% {
		color: #d65c99;
	}
	20% {
		color: #6cd65c;
	}
	25% {
		color: #c05cd6;
	}
	30% {
		color: #d6975c;
	}
	35% {
		color: #d45cd6;
	}
	40% {
		color: #5c8bd6;
	}
	45% {
		color: #9bd65c;
	}
	50% {
		color: #d65c7c;
	}
	55% {
		color: #72d65c;
	}
	60% {
		color: #5c70d6;
	}
	65% {
		color: #d65c72;
	}
	70% {
		color: #d65c7a;
	}
	75% {
		color: #d65ccc;
	}
	80% {
		color: #d65c95;
	}
	85% {
		color: #5cd6ce;
	}
	90% {
		color: #d6b15c;
	}
	95% {
		color: #d65cb1;
	}
	100% {
		color: #b4d65c;
	}
}
@keyframes anim-text-flow-keys {
	0% {
		color: #5cd69d;
	}
	5% {
		color: #d6ce5c;
	}
	10% {
		color: #d4d65c;
	}
	15% {
		color: #d65c99;
	}
	20% {
		color: #6cd65c;
	}
	25% {
		color: #c05cd6;
	}
	30% {
		color: #d6975c;
	}
	35% {
		color: #d45cd6;
	}
	40% {
		color: #5c8bd6;
	}
	45% {
		color: #9bd65c;
	}
	50% {
		color: #d65c7c;
	}
	55% {
		color: #72d65c;
	}
	60% {
		color: #5c70d6;
	}
	65% {
		color: #d65c72;
	}
	70% {
		color: #d65c7a;
	}
	75% {
		color: #d65ccc;
	}
	80% {
		color: #d65c95;
	}
	85% {
		color: #5cd6ce;
	}
	90% {
		color: #d6b15c;
	}
	95% {
		color: #d65cb1;
	}
	100% {
		color: #b4d65c;
	}
}
.anim-text-flow span:nth-of-type(1),
.anim-text-flow-hover:hover span:nth-of-type(1) {
	-webkit-animation-delay: -19.8s;
	animation-delay: -19.8s;
}
.anim-text-flow span:nth-of-type(2),
.anim-text-flow-hover:hover span:nth-of-type(2) {
	-webkit-animation-delay: -19.6s;
	animation-delay: -19.6s;
}
.anim-text-flow span:nth-of-type(3),
.anim-text-flow-hover:hover span:nth-of-type(3) {
	-webkit-animation-delay: -19.4s;
	animation-delay: -19.4s;
}
.anim-text-flow span:nth-of-type(4),
.anim-text-flow-hover:hover span:nth-of-type(4) {
	-webkit-animation-delay: -19.2s;
	animation-delay: -19.2s;
}
.anim-text-flow span:nth-of-type(5),
.anim-text-flow-hover:hover span:nth-of-type(5) {
	-webkit-animation-delay: -19s;
	animation-delay: -19s;
}
.anim-text-flow span:nth-of-type(6),
.anim-text-flow-hover:hover span:nth-of-type(6) {
	-webkit-animation-delay: -18.8s;
	animation-delay: -18.8s;
}
.anim-text-flow span:nth-of-type(7),
.anim-text-flow-hover:hover span:nth-of-type(7) {
	-webkit-animation-delay: -18.6s;
	animation-delay: -18.6s;
}
.anim-text-flow span:nth-of-type(8),
.anim-text-flow-hover:hover span:nth-of-type(8) {
	-webkit-animation-delay: -18.4s;
	animation-delay: -18.4s;
}
.anim-text-flow span:nth-of-type(9),
.anim-text-flow-hover:hover span:nth-of-type(9) {
	-webkit-animation-delay: -18.2s;
	animation-delay: -18.2s;
}
.anim-text-flow span:nth-of-type(10),
.anim-text-flow-hover:hover span:nth-of-type(10) {
	-webkit-animation-delay: -18s;
	animation-delay: -18s;
}
.anim-text-flow span:nth-of-type(11),
.anim-text-flow-hover:hover span:nth-of-type(11) {
	-webkit-animation-delay: -17.8s;
	animation-delay: -17.8s;
}
.anim-text-flow span:nth-of-type(12),
.anim-text-flow-hover:hover span:nth-of-type(12) {
	-webkit-animation-delay: -17.6s;
	animation-delay: -17.6s;
}
.anim-text-flow span:nth-of-type(13),
.anim-text-flow-hover:hover span:nth-of-type(13) {
	-webkit-animation-delay: -17.4s;
	animation-delay: -17.4s;
}
.anim-text-flow span:nth-of-type(14),
.anim-text-flow-hover:hover span:nth-of-type(14) {
	-webkit-animation-delay: -17.2s;
	animation-delay: -17.2s;
}
.anim-text-flow span:nth-of-type(15),
.anim-text-flow-hover:hover span:nth-of-type(15) {
	-webkit-animation-delay: -17s;
	animation-delay: -17s;
}
.anim-text-flow span:nth-of-type(16),
.anim-text-flow-hover:hover span:nth-of-type(16) {
	-webkit-animation-delay: -16.8s;
	animation-delay: -16.8s;
}
.anim-text-flow span:nth-of-type(17),
.anim-text-flow-hover:hover span:nth-of-type(17) {
	-webkit-animation-delay: -16.6s;
	animation-delay: -16.6s;
}
.anim-text-flow span:nth-of-type(18),
.anim-text-flow-hover:hover span:nth-of-type(18) {
	-webkit-animation-delay: -16.4s;
	animation-delay: -16.4s;
}
.anim-text-flow span:nth-of-type(19),
.anim-text-flow-hover:hover span:nth-of-type(19) {
	-webkit-animation-delay: -16.2s;
	animation-delay: -16.2s;
}
.anim-text-flow span:nth-of-type(20),
.anim-text-flow-hover:hover span:nth-of-type(20) {
	-webkit-animation-delay: -16s;
	animation-delay: -16s;
}
.anim-text-flow span:nth-of-type(21),
.anim-text-flow-hover:hover span:nth-of-type(21) {
	-webkit-animation-delay: -15.8s;
	animation-delay: -15.8s;
}
.anim-text-flow span:nth-of-type(22),
.anim-text-flow-hover:hover span:nth-of-type(22) {
	-webkit-animation-delay: -15.6s;
	animation-delay: -15.6s;
}
.anim-text-flow span:nth-of-type(23),
.anim-text-flow-hover:hover span:nth-of-type(23) {
	-webkit-animation-delay: -15.4s;
	animation-delay: -15.4s;
}
.anim-text-flow span:nth-of-type(24),
.anim-text-flow-hover:hover span:nth-of-type(24) {
	-webkit-animation-delay: -15.2s;
	animation-delay: -15.2s;
}
.anim-text-flow span:nth-of-type(25),
.anim-text-flow-hover:hover span:nth-of-type(25) {
	-webkit-animation-delay: -15s;
	animation-delay: -15s;
}
.anim-text-flow span:nth-of-type(26),
.anim-text-flow-hover:hover span:nth-of-type(26) {
	-webkit-animation-delay: -14.8s;
	animation-delay: -14.8s;
}
.anim-text-flow span:nth-of-type(27),
.anim-text-flow-hover:hover span:nth-of-type(27) {
	-webkit-animation-delay: -14.6s;
	animation-delay: -14.6s;
}
.anim-text-flow span:nth-of-type(28),
.anim-text-flow-hover:hover span:nth-of-type(28) {
	-webkit-animation-delay: -14.4s;
	animation-delay: -14.4s;
}
.anim-text-flow span:nth-of-type(29),
.anim-text-flow-hover:hover span:nth-of-type(29) {
	-webkit-animation-delay: -14.2s;
	animation-delay: -14.2s;
}
.anim-text-flow span:nth-of-type(30),
.anim-text-flow-hover:hover span:nth-of-type(30) {
	-webkit-animation-delay: -14s;
	animation-delay: -14s;
}
.anim-text-flow span:nth-of-type(31),
.anim-text-flow-hover:hover span:nth-of-type(31) {
	-webkit-animation-delay: -13.8s;
	animation-delay: -13.8s;
}
.anim-text-flow span:nth-of-type(32),
.anim-text-flow-hover:hover span:nth-of-type(32) {
	-webkit-animation-delay: -13.6s;
	animation-delay: -13.6s;
}
.anim-text-flow span:nth-of-type(33),
.anim-text-flow-hover:hover span:nth-of-type(33) {
	-webkit-animation-delay: -13.4s;
	animation-delay: -13.4s;
}
.anim-text-flow span:nth-of-type(34),
.anim-text-flow-hover:hover span:nth-of-type(34) {
	-webkit-animation-delay: -13.2s;
	animation-delay: -13.2s;
}
.anim-text-flow span:nth-of-type(35),
.anim-text-flow-hover:hover span:nth-of-type(35) {
	-webkit-animation-delay: -13s;
	animation-delay: -13s;
}
.anim-text-flow span:nth-of-type(36),
.anim-text-flow-hover:hover span:nth-of-type(36) {
	-webkit-animation-delay: -12.8s;
	animation-delay: -12.8s;
}
.anim-text-flow span:nth-of-type(37),
.anim-text-flow-hover:hover span:nth-of-type(37) {
	-webkit-animation-delay: -12.6s;
	animation-delay: -12.6s;
}
.anim-text-flow span:nth-of-type(38),
.anim-text-flow-hover:hover span:nth-of-type(38) {
	-webkit-animation-delay: -12.4s;
	animation-delay: -12.4s;
}
.anim-text-flow span:nth-of-type(39),
.anim-text-flow-hover:hover span:nth-of-type(39) {
	-webkit-animation-delay: -12.2s;
	animation-delay: -12.2s;
}
.anim-text-flow span:nth-of-type(40),
.anim-text-flow-hover:hover span:nth-of-type(40) {
	-webkit-animation-delay: -12s;
	animation-delay: -12s;
}
.anim-text-flow span:nth-of-type(41),
.anim-text-flow-hover:hover span:nth-of-type(41) {
	-webkit-animation-delay: -11.8s;
	animation-delay: -11.8s;
}
.anim-text-flow span:nth-of-type(42),
.anim-text-flow-hover:hover span:nth-of-type(42) {
	-webkit-animation-delay: -11.6s;
	animation-delay: -11.6s;
}
.anim-text-flow span:nth-of-type(43),
.anim-text-flow-hover:hover span:nth-of-type(43) {
	-webkit-animation-delay: -11.4s;
	animation-delay: -11.4s;
}
.anim-text-flow span:nth-of-type(44),
.anim-text-flow-hover:hover span:nth-of-type(44) {
	-webkit-animation-delay: -11.2s;
	animation-delay: -11.2s;
}
.anim-text-flow span:nth-of-type(45),
.anim-text-flow-hover:hover span:nth-of-type(45) {
	-webkit-animation-delay: -11s;
	animation-delay: -11s;
}
.anim-text-flow span:nth-of-type(46),
.anim-text-flow-hover:hover span:nth-of-type(46) {
	-webkit-animation-delay: -10.8s;
	animation-delay: -10.8s;
}
.anim-text-flow span:nth-of-type(47),
.anim-text-flow-hover:hover span:nth-of-type(47) {
	-webkit-animation-delay: -10.6s;
	animation-delay: -10.6s;
}
.anim-text-flow span:nth-of-type(48),
.anim-text-flow-hover:hover span:nth-of-type(48) {
	-webkit-animation-delay: -10.4s;
	animation-delay: -10.4s;
}
.anim-text-flow span:nth-of-type(49),
.anim-text-flow-hover:hover span:nth-of-type(49) {
	-webkit-animation-delay: -10.2s;
	animation-delay: -10.2s;
}
.anim-text-flow span:nth-of-type(50),
.anim-text-flow-hover:hover span:nth-of-type(50) {
	-webkit-animation-delay: -10s;
	animation-delay: -10s;
}
.anim-text-flow span:nth-of-type(51),
.anim-text-flow-hover:hover span:nth-of-type(51) {
	-webkit-animation-delay: -9.8s;
	animation-delay: -9.8s;
}
.anim-text-flow span:nth-of-type(52),
.anim-text-flow-hover:hover span:nth-of-type(52) {
	-webkit-animation-delay: -9.6s;
	animation-delay: -9.6s;
}
.anim-text-flow span:nth-of-type(53),
.anim-text-flow-hover:hover span:nth-of-type(53) {
	-webkit-animation-delay: -9.4s;
	animation-delay: -9.4s;
}
.anim-text-flow span:nth-of-type(54),
.anim-text-flow-hover:hover span:nth-of-type(54) {
	-webkit-animation-delay: -9.2s;
	animation-delay: -9.2s;
}
.anim-text-flow span:nth-of-type(55),
.anim-text-flow-hover:hover span:nth-of-type(55) {
	-webkit-animation-delay: -9s;
	animation-delay: -9s;
}
.anim-text-flow span:nth-of-type(56),
.anim-text-flow-hover:hover span:nth-of-type(56) {
	-webkit-animation-delay: -8.8s;
	animation-delay: -8.8s;
}
.anim-text-flow span:nth-of-type(57),
.anim-text-flow-hover:hover span:nth-of-type(57) {
	-webkit-animation-delay: -8.6s;
	animation-delay: -8.6s;
}
.anim-text-flow span:nth-of-type(58),
.anim-text-flow-hover:hover span:nth-of-type(58) {
	-webkit-animation-delay: -8.4s;
	animation-delay: -8.4s;
}
.anim-text-flow span:nth-of-type(59),
.anim-text-flow-hover:hover span:nth-of-type(59) {
	-webkit-animation-delay: -8.2s;
	animation-delay: -8.2s;
}
.anim-text-flow span:nth-of-type(60),
.anim-text-flow-hover:hover span:nth-of-type(60) {
	-webkit-animation-delay: -8s;
	animation-delay: -8s;
}
.anim-text-flow span:nth-of-type(61),
.anim-text-flow-hover:hover span:nth-of-type(61) {
	-webkit-animation-delay: -7.8s;
	animation-delay: -7.8s;
}
.anim-text-flow span:nth-of-type(62),
.anim-text-flow-hover:hover span:nth-of-type(62) {
	-webkit-animation-delay: -7.6s;
	animation-delay: -7.6s;
}
.anim-text-flow span:nth-of-type(63),
.anim-text-flow-hover:hover span:nth-of-type(63) {
	-webkit-animation-delay: -7.4s;
	animation-delay: -7.4s;
}
.anim-text-flow span:nth-of-type(64),
.anim-text-flow-hover:hover span:nth-of-type(64) {
	-webkit-animation-delay: -7.2s;
	animation-delay: -7.2s;
}
.anim-text-flow span:nth-of-type(65),
.anim-text-flow-hover:hover span:nth-of-type(65) {
	-webkit-animation-delay: -7s;
	animation-delay: -7s;
}
.anim-text-flow span:nth-of-type(66),
.anim-text-flow-hover:hover span:nth-of-type(66) {
	-webkit-animation-delay: -6.8s;
	animation-delay: -6.8s;
}
.anim-text-flow span:nth-of-type(67),
.anim-text-flow-hover:hover span:nth-of-type(67) {
	-webkit-animation-delay: -6.6s;
	animation-delay: -6.6s;
}
.anim-text-flow span:nth-of-type(68),
.anim-text-flow-hover:hover span:nth-of-type(68) {
	-webkit-animation-delay: -6.4s;
	animation-delay: -6.4s;
}
.anim-text-flow span:nth-of-type(69),
.anim-text-flow-hover:hover span:nth-of-type(69) {
	-webkit-animation-delay: -6.2s;
	animation-delay: -6.2s;
}
.anim-text-flow span:nth-of-type(70),
.anim-text-flow-hover:hover span:nth-of-type(70) {
	-webkit-animation-delay: -6s;
	animation-delay: -6s;
}
.anim-text-flow span:nth-of-type(71),
.anim-text-flow-hover:hover span:nth-of-type(71) {
	-webkit-animation-delay: -5.8s;
	animation-delay: -5.8s;
}
.anim-text-flow span:nth-of-type(72),
.anim-text-flow-hover:hover span:nth-of-type(72) {
	-webkit-animation-delay: -5.6s;
	animation-delay: -5.6s;
}
.anim-text-flow span:nth-of-type(73),
.anim-text-flow-hover:hover span:nth-of-type(73) {
	-webkit-animation-delay: -5.4s;
	animation-delay: -5.4s;
}
.anim-text-flow span:nth-of-type(74),
.anim-text-flow-hover:hover span:nth-of-type(74) {
	-webkit-animation-delay: -5.2s;
	animation-delay: -5.2s;
}
.anim-text-flow span:nth-of-type(75),
.anim-text-flow-hover:hover span:nth-of-type(75) {
	-webkit-animation-delay: -5s;
	animation-delay: -5s;
}
.anim-text-flow span:nth-of-type(76),
.anim-text-flow-hover:hover span:nth-of-type(76) {
	-webkit-animation-delay: -4.8s;
	animation-delay: -4.8s;
}
.anim-text-flow span:nth-of-type(77),
.anim-text-flow-hover:hover span:nth-of-type(77) {
	-webkit-animation-delay: -4.6s;
	animation-delay: -4.6s;
}
.anim-text-flow span:nth-of-type(78),
.anim-text-flow-hover:hover span:nth-of-type(78) {
	-webkit-animation-delay: -4.4s;
	animation-delay: -4.4s;
}
.anim-text-flow span:nth-of-type(79),
.anim-text-flow-hover:hover span:nth-of-type(79) {
	-webkit-animation-delay: -4.2s;
	animation-delay: -4.2s;
}
.anim-text-flow span:nth-of-type(80),
.anim-text-flow-hover:hover span:nth-of-type(80) {
	-webkit-animation-delay: -4s;
	animation-delay: -4s;
}
.anim-text-flow span:nth-of-type(81),
.anim-text-flow-hover:hover span:nth-of-type(81) {
	-webkit-animation-delay: -3.8s;
	animation-delay: -3.8s;
}
.anim-text-flow span:nth-of-type(82),
.anim-text-flow-hover:hover span:nth-of-type(82) {
	-webkit-animation-delay: -3.6s;
	animation-delay: -3.6s;
}
.anim-text-flow span:nth-of-type(83),
.anim-text-flow-hover:hover span:nth-of-type(83) {
	-webkit-animation-delay: -3.4s;
	animation-delay: -3.4s;
}
.anim-text-flow span:nth-of-type(84),
.anim-text-flow-hover:hover span:nth-of-type(84) {
	-webkit-animation-delay: -3.2s;
	animation-delay: -3.2s;
}
.anim-text-flow span:nth-of-type(85),
.anim-text-flow-hover:hover span:nth-of-type(85) {
	-webkit-animation-delay: -3s;
	animation-delay: -3s;
}
.anim-text-flow span:nth-of-type(86),
.anim-text-flow-hover:hover span:nth-of-type(86) {
	-webkit-animation-delay: -2.8s;
	animation-delay: -2.8s;
}
.anim-text-flow span:nth-of-type(87),
.anim-text-flow-hover:hover span:nth-of-type(87) {
	-webkit-animation-delay: -2.6s;
	animation-delay: -2.6s;
}
.anim-text-flow span:nth-of-type(88),
.anim-text-flow-hover:hover span:nth-of-type(88) {
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s;
}
.anim-text-flow span:nth-of-type(89),
.anim-text-flow-hover:hover span:nth-of-type(89) {
	-webkit-animation-delay: -2.2s;
	animation-delay: -2.2s;
}
.anim-text-flow span:nth-of-type(90),
.anim-text-flow-hover:hover span:nth-of-type(90) {
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
}
.anim-text-flow span:nth-of-type(91),
.anim-text-flow-hover:hover span:nth-of-type(91) {
	-webkit-animation-delay: -1.8s;
	animation-delay: -1.8s;
}
.anim-text-flow span:nth-of-type(92),
.anim-text-flow-hover:hover span:nth-of-type(92) {
	-webkit-animation-delay: -1.6s;
	animation-delay: -1.6s;
}
.anim-text-flow span:nth-of-type(93),
.anim-text-flow-hover:hover span:nth-of-type(93) {
	-webkit-animation-delay: -1.4s;
	animation-delay: -1.4s;
}
.anim-text-flow span:nth-of-type(94),
.anim-text-flow-hover:hover span:nth-of-type(94) {
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
}
.anim-text-flow span:nth-of-type(95),
.anim-text-flow-hover:hover span:nth-of-type(95) {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.anim-text-flow span:nth-of-type(96),
.anim-text-flow-hover:hover span:nth-of-type(96) {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.anim-text-flow span:nth-of-type(97),
.anim-text-flow-hover:hover span:nth-of-type(97) {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.anim-text-flow span:nth-of-type(98),
.anim-text-flow-hover:hover span:nth-of-type(98) {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.anim-text-flow span:nth-of-type(99),
.anim-text-flow-hover:hover span:nth-of-type(99) {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.anim-text-flow span:nth-of-type(100),
.anim-text-flow-hover:hover span:nth-of-type(100) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}







.fl_c {
	align-items: center;
}
.fl, .fl_c {
	display: flex;
}
.matches__container{
	min-height: unset;
	width: 100%;
}


.matches__title {
	margin-bottom: 8px;
	padding-left: 17px;
	display: flex;
	align-items: center;
}
.matches__title span {
	color: hsla(0,0%,8%,.32);
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
}
.matches__title span:first-of-type {
	width: 60px;
}
.matches__title span:nth-of-type(2) {
	width: 576px;
}
.matches__title span:not(:first-of-type) {
	text-align: center;
}
.matches__title span:nth-of-type(3) {
	width: 104px;
}
.matches__title span:nth-of-type(4) {
	padding-left: 50px;
	width: 236px;
}
.matches__title span:last-of-type {
	width: 114px;
}
.match-item__wrapper {
	border: 1px solid hsla(0,0%,8%,.12);
	border-radius: 8px;
	display: flex;
	margin-bottom: 4px;
	position: relative;
}
.match-item__wrapper:hover {
	border: 1px solid hsla(0,0%,8%,.4);
}
.match-item__link {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.match-item {
	background: #fff;
	border-radius: 8px;
	cursor: pointer;
	height: 56px;
	padding: 8px 8px 8px 12px;
	position: relative;
	width: 100%;
}
.match-item__top {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-right: 2px;
}
.match-item__time {
	color: #141414;
	font-size: 12px;
	line-height: 16px;
	position: relative;
	white-space: nowrap;
	width: 110px;
}
.match-item__team-1 .team-name {
	text-align: right;
}
.match-item__team .team-name__item {
	display: block;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}
.match-item__team .team-logo {
	display: block;
	height: 24px;
	min-width: 24px;
	width: 24px;
	margin-left: 12px;
}
.match-item__team-2 .team-logo {
	margin-right: 12px;
}
.match-item .score, .match-item .score-colon {
	font-size: 20px;
	font-weight: 800;
	line-height: 24px;
}
.match-item .score {
	width: 32px;
}
.match-item .score:first-of-type {
	text-align: right;
}
.planned-match .score {
	color: hsla(0,0%,8%,.48);
}

.math-forecast__col {
	border-left: 1px solid hsla(0,0%,8%,.12);
	border-right: unset;
	z-index: 2;
}
.math-forecast__col:first-of-type {
	margin-left: 2px;
}
.math-forecast__rate {
	padding: 0 12px;
}
.math-forecast__rate-item {
	padding: 4px 6px;
	width: 54px;
	margin-right: 4px;
}
.math-forecast__prediction-item, .math-forecast__rate-item {
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}
.math-forecast__rate-item--middle {
	background-color: rgba(255,230,0,.78);
}
.math-forecast__rate-item--lowest {
	background-color: rgba(255,230,0,.24);
}
.math-forecast__rate-item--highest {
	background-color: rgba(255,230,0,.72);
}
.math-forecast__rate-index {
	color: hsla(0,0%,8%,.32);
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}
.math-forecast__rate-value {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #141414;
}



.math-forecast__col {
	border-left: 1px solid hsla(0,0%,8%,.12);
	border-right: unset;
	z-index: 2;
}
.math-forecast__rate {
	padding: 0 12px;
}
.math-forecast__rate-item {
	padding: 4px 6px;
	width: 54px;
	margin-right: 4px;
}

.math-forecast__title {
	display: none;
}


.math-forecast__prediction {
	padding-left: 12px;
	width: 96px;
}
.math-forecast__prediction-item {
	background-color: #141414;
	padding: 4px 12px 4px 10px;
	position: relative;
	width: 84px;
}
.math-forecast__prediction-index {
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
}
.math-forecast__prediction-value {
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	line-height: 20px;
	text-align: right;
}
.math-forecast__prediction-item:before {
	background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgZmlsbD0nbm9uZSc+PGcgY2xpcC1wYXRoPSd1cmwoI2EpJz48cGF0aCBmaWxsPScjRkFGRjAwJyBkPSdNMTUuODMzIDIuNUg0LjE2N0MzLjI1IDIuNSAyLjUgMy4yNSAyLjUgNC4xNjd2MTEuNjY2YzAgLjkxNy43NSAxLjY2NyAxLjY2NyAxLjY2N2gxMS42NjZjLjkxNyAwIDEuNjY3LS43NSAxLjY2Ny0xLjY2N1Y0LjE2N2MwLS45MTctLjc1LTEuNjY3LTEuNjY3LTEuNjY3WicvPjxwYXRoIGZpbGw9JyMxNDE0MTQnIGQ9J003LjUwMyAxMEg1LjgzNnY0LjE2N2gxLjY2N1YxMFpNMTQuMTY3IDUuODMzSDEyLjV2OC4zMzRoMS42NjdWNS44MzNaTTEwLjgzIDExLjY2N0g5LjE2NXYyLjVoMS42Njd2LTIuNVpNMTAuODMgOC4zMzNIOS4xNjVWMTBoMS42NjdWOC4zMzNaJy8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0nYSc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTAgMGgyMHYyMEgweicvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==);
	background-position: 50%;
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 20px;
	left: 8px;
	min-width: 20px;
	position: absolute;
	top: 10px;
	width: 20px
}

.math-forecast__button {
	background: #ed533a;
	border-radius: 6px;
	grid-column: 1/3;
	grid-row: 4;
	justify-content: center;
	margin-left: 8px;
	padding: 9px 10px 11px 16px;
	z-index: 2;
}
.math-forecast__button span {
	color: #fff;
	font-weight: 700;
	line-height: 16px;
	position: relative;
	white-space: nowrap;
}
.math-forecast__button span:after {
	background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMScgaGVpZ2h0PScyMCcgZmlsbD0nbm9uZSc+PGcgY2xpcC1wYXRoPSd1cmwoI2EpJz48cGF0aCBmaWxsPScjZmZmJyBkPSdNMTAuNjM1IDMuMzMzIDkuNDYgNC41MDhsNC42NSA0LjY1OUgzLjk3djEuNjY2SDE0LjExbC00LjY1IDQuNjU5IDEuMTc1IDEuMTc1TDE3LjMwMiAxMGwtNi42NjctNi42NjdaJy8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0nYSc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTS42MzMgMGgyMHYyMGgtMjB6Jy8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+);
	background-position: 50%;
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 20px;
	margin-left: 4px;
	min-width: 20px;
	position: relative;
	width: 20px
}
/*-----------------------*\
    RESPONSIVE
\*-----------------------*/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.wm-competition a{
		padding: 0px 10px;
		font-size: 14px;
		line-height: 26px;
	}
	.container .row{
		padding-top: 0 !important;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}


ul.menu > li.hot > a:before {
	content: "Hot";
	font-weight: 700;
	position: absolute;
	font-size: 10px;
	line-height: 10px;
	color: #4f8237;
	background-color: #badc58;
	display: inline-block;
	top: 8px;
	right: 1px;
	padding: 2px 7px;
	border-radius: 8px;
}

.pin-new:before {
    position: absolute;
    right: 6px;
    top: -10px;
    content: "New";
    animation: lightAnimation .3s ease-in-out infinite;
    background-size: contain;
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    color: #d3cd13;
    font-size: 12px;
    font-weight: bold;
    font-family: 'roboto';
}

.pin-hot:before {
    position: absolute;
    right: 6px;
    top: -10px;
    content: "Hot";
    animation: lightAnimation .3s ease-in-out infinite;
    background-size: contain;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
    color: #d3cd13;
    font-size: 12px;
    font-weight: bold;
    font-family: 'roboto';
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}